body {
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.dark {
    background: black;
    color: white;
}

.subtitle {
    color: #006EB6;
}

.dark-subtitle {
    color: #019aff;
}

#wrapper {
    border: solid 1px grey;
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    text-align: center; 
}

#title {
    font-family: 'Times New Roman', Times, serif;
}

hr {
    margin-top: -20px;
    margin-bottom: 50px;
}

.description {
    text-align: left;
}

#list-title {
    text-align: left;
    font-style: italic;
}

.list {
    font-family: 'Times New Roman', Times, serif
    letter-spacing: -1.5px;
    text-align: left;
}

img {
    height: 150px
}