@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    --primary-color: #EFC69B;
    --secondary-color: #AF1B3F;
    --accent-color: #473144;
    --text-dark: #070707;
    --text-light: #eaeaf6;
    --primary-font: Helvetica, Arial, sans-serif;
    --secondary-font: Arial, Helvetica, sans-serif;
    --headline-font: Lora, Impact, serif;
    }

header h1 {
    color: var(--accent-color);
    text-align: center;
}

nav {
    display: grid;
    text-align: right;
    border-top: var(--primary-color);
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom: var(--primary-color);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

ul {
    padding-right: 10px;
}

ul a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
}

.skiptocontent {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bookReviews {
    justify-items: end;
    padding: 10px;
    border-right: var(--primary-color) 2px solid;
    margin-top: 10px;
    grid-column: 1/2;
}

.books {
    justify-items: center;
    padding: 10px;
    grid-column: 2/3;
}

.filters {
    justify-items: start;
    padding: 10px;
    border-left: var(--primary-color) 2px solid;
    margin-top: 10px;
    grid-column: 3/4;
    grid-row: 1/2;
}